=graph
    background: white
    svg
        height: 100%
        width: 100%
        display: inline-block
            
        .link 
            stroke: darken(white,15%)
            stroke-width: 1.5px

        .node 
            cursor: pointer
            fill: lighten(invert($primary),35%)
            stroke: lighten(black,35%)
            stroke-width: 1.5px
            
            &.level-0
                fill: lighten($highlight, 20%)
            &.level-1
                fill: lighten(invert($primary),25%)
        .node-label
            cursor: pointer
            font-size: 10pt
            text-anchor: middle
            &.level-0
                font-size: 10pt
            &.level-1
                font-size: 8pt
            &.level-2
                font-size: 6pt
