@import reset
@import mixins
@import font
@import icons

h1,h2,h3,h4,h5,h6
    +headingsFont
    
div,p,span,a
    +bodyFont

html,body
    height: 100%
        
/* COLORS */
$primary: #0079d1
$secondary: #C1C923
$highlight: #F41C54
$tertiary: #002E3F
$pageSeparator: 1px solid darken(white,20%)
    
a
    color: $primary
    text-decoration: none
    +transition(all 200ms ease)
    &:hover
        color: darken(blue, 15%)            

$headerHeight: 45px

.container
    height: 100%

.header
    $pad: 5px
    background: $primary
    color: white
    padding: $pad
    padding-left: 2 * $pad
    z-index: 100
    position: absolute
    top: 0
    left: 0
    right: 0
    height: $headerHeight - 2 * $pad
    small
        font-size: 12pt
        padding-left: 1em
        
@import sidebar
@import graph

=sidebarTransision
    +transition(width 400ms ease)
.page
    padding-top: $headerHeight
    width: 100%
    z-index: 50
    &:after 
    content: ""
    display: table
    clear: both
    .sidebar
        +sidebar(33%)
    .content
        +sidebarTransision
        position: relative
        float: left
        width: 67%
        height: 100%
        display: inline-block
        $toolbar: 40px
        .toolbar
            position: absolute
            top: 0
            width: 100%
            height: $toolbar
            border-bottom: $pageSeparator
            padding-right: 10px
            $searchIcon: 20px
            
            span[class^="icon"]
                width: $searchIcon
                position: absolute
                left: 10px
                top: 10px
            
            input[type="search"]
                +bodyFont
                -webkit-appearance: caret
                height: 100%
                outline: none
                border: none
                width: 100%
                $pad: 10px
                padding-left: $searchIcon + $pad
                padding-right: $pad
                font-size: $toolbar - 2 * $pad
        
        .graph
            padding-top: $toolbar
            height: 100%
            backgroun
            +graph
        
    height: 100%
    &.hide-sidebar
        .sidebar
            width: 0%
        .content
            width: 100%
   
    